<body>
<div class="home-bg">
<h1>Trouvez votre véhicule d'occasion</h1>
<p>Find me in app/views/pages/home.html.erb</p>
</div>
<div class="bg">
<h1>Trouvez votre véhicule d'occasion</h1>
<p>Find me in app/views/pages/home.html.erb</p>
</div>
</body>
